#banner{
 background-image: url("../img/banner/2.jpg");
 width: 100%;
 height: 60vh;
 background-size: cover;
 background-position: top 70px center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
}

#banner h4{
 color: #d8d8d8;
}
#banner h1{
 color: #fff;
}
#banner button{
 background-color: #fb774b;
}