.product{
 cursor: pointer;
 margin-bottom: 2rem;

}
.product img{
 transition: 0.3s all;
 
}
.product:hover img{
 opacity: 0.7;

}

.product .buy-btn{
 background: coral;
 transform: translateY(20px);
 opacity: 0;
 transition: 0.5s all;
}

.product:hover .buy-btn{
 transform: translateY(0);
 opacity: 1;
}

.star i{
 font-size: 0.8rem;
 color: rgb(240, 190, 64);
}
.star{
 padding: 10px 0;
}