#home{
 background-image: url("../img/back.jpg");
 width: 100%;
 height: 100vh;
 background-size: cover;
 background-position: top 60px center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
}
#home span{
 color: coral;
}
#home h1{
 font-weight: 700;
 font-size: 2.5rem;
}