#new .one img{
 width: 100%;
 height: 100%;
 background-position: center center;
 background-size: cover;
 position: relative;
}

#new .one .details{
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 transition: 0.3s ease;
}

#new .one:hover .details{
 cursor: pointer;
 background-color: rgba(245, 178, 178, 0.7);

}

#new .one .details button{
 display: inline-block;
 font-size: 14px;
 font-weight: 500;
 color: #2a2a2a;
 background: none;
 text-transform: uppercase;
 border-bottom: 1px solid #2a2a2a;
 padding: 2.5px;
 transform: translateY(70px);
 transition: 0.3s ease;

}

#new .one .details button:hover{
 color: #fff;
 border-bottom: 1px solid #fff;

}

#new .one:nth-child(1) .details{
  display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 text-align: center;
}
#new .one:nth-child(2) .details{
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 text-align: center;
}
#new .one:nth-child(3) .details{
  display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 text-align: center;
}