.product img{
 width: 100%;
 height: auto;
 box-sizing: border-box;
 object-fit: cover;
}

#featured > div.row.mx-auto.container > nav > ul > li.page-item.active > a{
 background-color: coral;
 border: rgba(0,0,0,0.2) 0.1px solid;
}

#featured > div.row.mx-auto.container > nav > ul > li:nth-child(n):hover>a{
 background-color: white;
 color: coral;
 transition: 0.5s ease;

}
.pagination a{
 color: #000;
}